	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript">window.jQuery || document.write('\x3Cscript src="https://dlang.org/js/jquery-1.7.2.min.js">\x3C/script>');</script>
    <script type="text/javascript" src="https://dlang.org/js/dlang.js"></script>
    <script type="text/javascript" src="https://dlang.org/js/codemirror-compressed.js"></script>
    <script type="text/javascript" src="https://dlang.org/js/run.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

<script>
var c = document.getElementsByTagName("code");
for (var i = 0, x; x = c[i++];) {
	if(x.className == "language-d") {
		x.className += " d";
	}
}
hljs.initHighlightingOnLoad();
</script>
